@charset "UTF-8";
.outer{
	width: 700px;
height: 300px;
margin-top: 150px;
margin-left: 150px;
margin-right: 70px;
margin-bottom: 100px;
border-top-width: 10px;
border-top-style: solid;
border-left-width: 10px;
border-left-style: solid;
border-right-width: 10px;
border-right-style: solid;
border-bottom-width: 10px;
border-bottom-style: solid;
padding-right: 50px;
padding-top: 60px;
padding-bottom: 30px;
padding-left: 50px;
background-color: gray;
}
.inner{
	  height: 200px;
  margin-left: 100px;
  margin-top: 30px;
  width: 500px;
height: 150px;
border: 2px dotted black;
background-color: teal;
}

.child{
	margin-top : 50px;
	width: 50px;
	height: 50px;
	border: 4px solid blue;
	display: inline;
	float: left;
	margin-left: 50px;
}
#child1.child{
	margin-left: 0px;
margin-top: 0px;
border-top-width: 0px;
width: 50px;
height: 50px;
border: 4px solid blue;
  border-top-width: 4px;
display: inline;
float: left;
}
#child2.child{
	margin-left: 162px;
margin-right: 50px;
margin-top: 52px;
width: 50px;
height: 50px;
border: 4px solid blue;
display: inline;
float: left;
}
#child3.child{
  margin-left: 114px;
margin-top: 95px;
margin-right: 0px;
padding-top: 0px;
width: 50px;
height: 50px;
border: 4px solid blue;
display: inline;
float: left;
}